.ant-input-prefix {
  color: #9e9c9b;
}

.ant-input::placeholder {
  color: #9e9c9b;
  font-weight: 1000;
}

.ant-input-affix-wrapper > input.ant-input {
  background-color: #eeeeee;
  padding-left: 20px !important;
  font-weight: 1000;
  color: #9e9c9b;
}

.ant-card-meta {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 10px 10px;
}

.ant-card-body {
  padding: 0px !important;
  margin-top: max(5vh, 10px) !important;
  margin-bottom: 10px !important;
  width: 100% !important;
  height: 10% !important;
  bottom: 10% !important;
}

.ant-card-meta-title {
  padding: 10px 0px 0px 10px;
  font-weight: 1000 !important;
  font-size: xx-large !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ant-card-meta-description {
  padding: 0px 0px 10px 10px;
}
.ant-card:hover {
  boxshadow: "110px 200px 200px 300px rgba(208, 216, 243, 0.6)" !important;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  color: inherit !important;
  text-decoration: none;
}

.ant-progress-text {
  display: inline-block;
  width: 1em;
  margin-left: -50% !important;
  position: center !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-align: center !important;
  vertical-align: middle;
  word-break: normal;
}

.ant-divider-horizontal {
  display: inline-block !important;
  clear: both;
  width: 100% !important;
  min-width: 80% !important;
  margin: 24px 0;
}

.ant-progress-show-info .ant-progress-outer {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.ant-upload.ant-upload-drag {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ff0000;
  border: 1px dashed #d9d9d9;
  border-radius: 20px !important;
  cursor: pointer;
  transition: border-color 0.1s !important;
  /*boxShadow: "0px 4px 30px 3px rgba(208, 216, 243, 0.6)" !important;*/
}
