.ant-input-prefix {
  color: #9e9c9b;
}

.ant-input::placeholder {
  color: #9e9c9b;
  font-weight: 1000;
}

.ant-input-affix-wrapper > input.ant-input {
  background-color: #eeeeee;
  padding-left: 20px !important;
  font-weight: 1000;
  color: #9e9c9b;
}

.ant-card-meta {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 10px 10px;
}

.ant-card-body {
  padding: 0px !important;
  margin-top: max(5vh, 10px)!important;
  margin-bottom: 10px !important;
  width: 100% !important;
  height: 10% !important;
  bottom:10% !important;
}

.ant-card-meta-title {
  padding: 10px 0px 0px 10px;
  font-weight: 1000 !important;
  font-size: xx-large !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



.ant-card-meta-description {
  padding: 0px 0px 10px 10px;
}
.ant-card:hover {

  boxShadow: "110px 200px 200px 300px rgba(208, 216, 243, 0.6)" !important;
}

a, a:hover, a:visited, a:active, a:link {
  color: inherit !important;
  text-decoration: none;

}

