.ant-progress-text {
  display: inline-block;
  width: 1em;
  margin-left: -50% !important;
  position: center !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-align: center !important;
  vertical-align: middle;
  word-break: normal;
}

.ant-divider-horizontal {
  /*display: inline-block !important;*/
  clear: both;
  min-width: 10% !important;
  margin: 24px 0;
}

.ant-progress-show-info .ant-progress-outer {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.ant-upload.ant-upload-drag {
  position: relative;
  width: 100%;
  height: 100% !important;
  text-align: center;
  background: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 20px !important;
  cursor: pointer;
  transition: border-color 0.1s !important;
  box-shadow: inset 0px 0px 15px 2px rgba(208, 216, 243, 0.6) !important;
}

.ant-input-search .ant-input-lg {
  line-height: 1.66647;
  box-shadow: inset 0px 0px 3px 1px rgba(208, 216, 243, 0.6);
  border-radius: 7px 0px 0px 7px;
}
